html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 860vh;
  background: #b29881;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #fff url('loader.gif') no-repeat center center;
}

canvas#image-sequence {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}

.play-button-container {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1280px;
  height: auto;
  max-height: 720px;
  z-index: 100;
}

.play-button {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: auto;
  max-height: 720px;
}

.play-button img {
  position: absolute;
  display: flex;
  align-items: center;
  right: 2em;
  bottom: -3em;
}

.play-button p {
  font-size: 18px;
  color: #f5f5f5;
  font-weight: 400;
}

#icon {
  width: 80px;
  cursor: pointer;
}

.animation-fade-out,
.portfolio-fade-in {
  position: absolute;
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  pointer-events: none;
  opacity: 0;
}

.portfolio-fade-in-link {
  position: absolute;
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  opacity: 0;
}

.animation-fade-out {
  bottom: 8em;
}

.portfolio-fade-in-link {
  bottom: 2em;
}

.portfolio-fade-in {
  top: 0;
}

#container,
.portfolio {
  opacity: 0;
}

#image-sequence {
  position: fixed;
  pointer-events: none;
}

.revealed {
  display: none;
}

#scrollDemo {
    height: 200px;
    width: 200px;
    overflow: auto;
    background-color: #f0db4f
}

#scrollDemo p {
    /* show the scrollbar */
    height: 300px;
    width: 300px;
}

img.up-arrow {
  width: 5em;
}

.portfolio-button-link {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1280px;
  height: auto;
  max-height: 720px;
  text-align: center;
  font-size: 2em;
  font-family: 'Playfair Display', serif;;
  text-decoration: none;
  z-index: 999;
  color: #f5f5f5;
  opacity: 0;
}
